/* ------------------------------------------------------------- */
/* --------------------- CERTIFICATES PAGE --------------------- */
/* ----------------------- .certificates ----------------------- */
/* ------------------------------------------------------------- */

.certificates {
    #header {
        background-color: var(--grey4) !important;
        transition-duration: 500ms;
        transition-property: background-color;

        &.scrolled {
            background-color: var(--white) !important;
        }
    }

    .certificates-nav {
        box-shadow: 0px 10px 15px rgba(173, 172, 173, 0.22);
        background: -webkit-linear-gradient(45deg, #8B21FE, #C438CE);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 10px 15px;
        border-radius: 15px;
        font-weight: 700;
        transition-duration: 0.1s;

        &:hover {
            border: none !important;
            transform: scale(0.97);
            box-shadow: 0px 2px 5px rgba(173, 172, 173, 0.22);
        }
    }

    #skilljar-content {
        padding-top: 0 !important;

        #certificates-header {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 320px;
            background-image: url(https://clickup.com/landing/images/clickup-university/cuu_v2.1bg_2x_min.png);
            background-size: cover;
            background-position: center;
            background-color: var(--grey4);
            padding-top: 70px;

            #certificates-header-text {
                // width: 600px;
                text-align: center;

                h1 {
                    font-family: "Axiforma", "Open Sans", "Helvetica Neue", sans-serif !important;
                    font-size: 60px;
                    font-weight: 800;
                    line-height: 80px;
                    color: var(--grey0);
                }

                p {
                    font-size: 20px;
                    font-weight: 400;
                    color: var(--grey2);
                    padding: 0 30px;
                }
            }
        }

        #certificates-subheader {
            background-color: var(--light-purple);
            border-radius: 30px;
            padding: 10px 45px;
            width: fit-content;

            #certificates-subheader-text {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    font-family: "Axiforma", "Open Sans", "Helvetica Neue", sans-serif !important;
                    font-size: 11px;
                    font-weight: 400;
                    margin: 10px 0 20px;

                    span {
                        font-size: 14px;
                        font-weight: 700;
                    }
                }

                img {
                    max-width: 160px;
                }
            }
        }

        #catalog-content {
            display: none;
        }

        #catalog-courses {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }
    }

    #badge-section {
        text-align: center;
        margin: 100px auto;

        h2 {
            font-family: "Axiforma", "Open Sans", "Helvetica Neue", sans-serif !important;
            font-size: 40px;
            font-weight: 800;
        }

        p {
            font-size: 14px;
            line-height: 25px;
            color: var(--grey0);
            margin-top: 10px;
        }

        #badge-cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 130px;
            gap: 30px;

            .badge-card {
                display: block;
                width: 360px;
                background-color: var(--white);
                border-radius: 30px;
                position: relative;
                padding: 30px;
                box-shadow: 0 15px 45px rgba(16, 30, 54, 0.06);
                transition-duration: 300ms;
                cursor: pointer;
                user-select: none;
                min-height: 460px;
                
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
                }

                &:active {
                    transform: scale(1);
                    box-shadow: none;
                }

                img {
                    width: 250px;
                    position: absolute;
                    top: -95px;
                    left: calc(50% - 125px);
                }

                h3 {
                    font-family: "Axiforma", "Open Sans", "Helvetica Neue", sans-serif !important;
                    margin-top: 135px;
                    color: var(--grey0);
                    font-size: 28px;
                    font-weight: 800;
                    line-height: 40px;
                }

                .btn-text {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 800;
                    height: 50px;
                    line-height: 50px;
                    margin: 0;
                    border-radius: 25px;
                    position: absolute;
                    width: 300px;
                    bottom: 30px;

                    &.novice {
                        background-color: var(--light-purple);
                        color: var(--grey0);
                        margin-top: 40px;
                    }

                    &.intermediate {
                        background-color: var(--purple);
                        box-shadow: 0px 10px 25px rgba(123, 104, 238, 0.2);
                        color: var(--white);
                    }

                    &.expert {
                        background-color: var(--purple2);
                        background-image: linear-gradient(60deg, var(--purple2) 0%, var(--pink) 45%, var(--yellow) 90%);
                        box-shadow: 0px 10px 25px rgba(123, 104, 238, 0.2);
                        color: var(--white);
                    }
                }
            }
        }

        #learn-more-btn {
            width: fit-content;
            font-size: 14px;
            font-weight: 600;
            padding: 25px 50px;
            border: 1px solid var(--purple);
            border-radius: 70px;
            box-shadow: 0 8px 20px rgba(123, 104, 238, 0.1);
            margin: 60px auto;

            a {
                text-decoration: underline;
            }
        }
    }

    #catalog-content,
    .search #catalog-content {
        padding: 40px 8% 100px !important;
        margin: 0;

        #catalog-courses {
            display: flex;
            flex-direction: row;
            gap: 30px;
            justify-content: center;
        }

        a.coursebox-container {
            // margin: auto;
            flex-direction: column;
            height: auto;
            padding: 30px;
            min-height: 430px;
            max-height: 430px;
            border-radius: 30px;

            &.course {
                .coursebox-callout {
                    background-color: var(--purple);

                    &.course-time {
                        background: none;
                    }
                }
                
                &.tag-beginner {
                    .coursebox-text::before {
                        content: 'COURSE: BEGINNER';
                        font-size: 14px;
                        display: block;
                        line-height: 14px;
                        color: var(--purple);
                        font-weight: 700;
                        margin-bottom: 15px;
                    }
                }

                &.tag-advanced {
                    .coursebox-text::before {
                        content: 'COURSE: ADVANCED';
                        font-size: 14px;
                        display: block;
                        line-height: 14px;
                        color: var(--cyan);
                        font-weight: 700;
                        margin-bottom: 15px;
                    }

                    .coursebox-callout {
                        background-color: var(--cyan);

                        &.course-time {
                            background-color: transparent;
                            
                            span {
                                color: var(--cyan);

                                &::before {
                                    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 3.6C9.49706 3.6 9.9 4.00294 9.9 4.5V9C9.9 9.23869 9.80518 9.46761 9.6364 9.6364L6.4864 12.7864C6.13492 13.1379 5.56508 13.1379 5.2136 12.7864C4.86213 12.4349 4.86213 11.8651 5.2136 11.5136L8.1 8.62721V4.5C8.1 4.00294 8.50294 3.6 9 3.6Z' fill='%2349CCF9'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1.8C5.02355 1.8 1.8 5.02355 1.8 9C1.8 12.9764 5.02355 16.2 9 16.2C12.9764 16.2 16.2 12.9764 16.2 9C16.2 5.02355 12.9764 1.8 9 1.8ZM0 9C0 4.02944 4.02944 0 9 0C13.9706 0 18 4.02944 18 9C18 13.9706 13.9706 18 9 18C4.02944 18 0 13.9706 0 9Z' fill='%2349CCF9'/%3E%3C/svg%3E");
                                }
                            }
                        }
                    }
                }

                &.tag-pro {
                    .coursebox-text::before {
                        content: 'COURSE: PRO';
                        font-size: 14px;
                        display: block;
                        line-height: 14px;
                        color: var(--pink);
                        font-weight: 700;
                        margin-bottom: 15px;
                    }

                    .coursebox-callout {
                        background-color: var(--pink);

                        &.course-time {
                            background-color: transparent;

                            span {
                                color: var(--pink);
                                
                                &::before {
                                    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 3.6C9.49706 3.6 9.9 4.00294 9.9 4.5V9C9.9 9.23869 9.80518 9.46761 9.6364 9.6364L6.4864 12.7864C6.13492 13.1379 5.56508 13.1379 5.2136 12.7864C4.86213 12.4349 4.86213 11.8651 5.2136 11.5136L8.1 8.62721V4.5C8.1 4.00294 8.50294 3.6 9 3.6Z' fill='%23FD71AF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1.8C5.02355 1.8 1.8 5.02355 1.8 9C1.8 12.9764 5.02355 16.2 9 16.2C12.9764 16.2 16.2 12.9764 16.2 9C16.2 5.02355 12.9764 1.8 9 1.8ZM0 9C0 4.02944 4.02944 0 9 0C13.9706 0 18 4.02944 18 9C18 13.9706 13.9706 18 9 18C4.02944 18 0 13.9706 0 9Z' fill='%23FD71AF'/%3E%3C/svg%3E");
                                }
                            }
                        }
                    }
                }

                &.tag-admin {
                    .coursebox-text::before {
                        content: 'COURSE: ADMIN';
                        font-size: 14px;
                        display: block;
                        line-height: 14px;
                        color: var(--green);
                        font-weight: 700;
                        margin-bottom: 15px;
                    }

                    .coursebox-callout {
                        background-color: var(--green);

                        &.course-time {
                            background-color: transparent;

                            span {
                                color: var(--green);
                                
                                &::before {
                                    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 3.6C9.49706 3.6 9.9 4.00294 9.9 4.5V9C9.9 9.23869 9.80518 9.46761 9.6364 9.6364L6.4864 12.7864C6.13492 13.1379 5.56508 13.1379 5.2136 12.7864C4.86213 12.4349 4.86213 11.8651 5.2136 11.5136L8.1 8.62721V4.5C8.1 4.00294 8.50294 3.6 9 3.6Z' fill='%2300B884'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1.8C5.02355 1.8 1.8 5.02355 1.8 9C1.8 12.9764 5.02355 16.2 9 16.2C12.9764 16.2 16.2 12.9764 16.2 9C16.2 5.02355 12.9764 1.8 9 1.8ZM0 9C0 4.02944 4.02944 0 9 0C13.9706 0 18 4.02944 18 9C18 13.9706 13.9706 18 9 18C4.02944 18 0 13.9706 0 9Z' fill='%2300B884'/%3E%3C/svg%3E");
                                }
                            }
                        }
                    }
                }
            }

            .coursebox-text {
                // margin: 50px 0 0 0;
                line-height: 45px;
            }

            .coursebox-text-description {
                margin: 10px 0;
            }

            .coursebox-callout {
                padding: 12px;
                bottom: 10px;
                position: absolute;
                box-shadow: 0px 10px 25px rgba(123, 104, 238, 0.2);
                font-size: 14px;
                line-height: 16px;
                font-weight: 800;

                &.course-time {
                    padding: 0;
                    margin: 0;
                    box-shadow: none;
                }

                &.catalog-page-callout {
                    display: none;
                }

                span {
                    font-size: 10px;
                    font-weight: 400;
                }
            }
        }

        .tag-productivity-pro,
        .tag-productivity-all-star,
        .tag-productivity-expert {
            .coursebox-text {
                margin: 15px 0 0 0;
                font-size: 28px;
                line-height: 40px;
                
                &::before {
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }

            .coursebox-text-description {
                font-size: 13px;
                line-height: 25px;
            }
        }

        .tag-productivity-pro {
            .coursebox-text {
                &::before {
                    content: 'New Member' !important;
                }
            }

        }

        .tag-productivity-all-star {
            .ribbon-icon {
                svg path {
                    fill: var(--cyan);
                }
            }

            .coursebox-text {
                &::before {
                    content: 'Member' !important;
                }
            }
            
        }

        .tag-productivity-expert {
            .ribbon-icon {
                svg path {
                    fill: var(--green);
                }
            }

            .coursebox-text {
                &::before {
                    content: 'Admin' !important;
                }
            }
            
        }

        .storefront-price,
        .coursebox-image {
            display: none;
        }
    }
}

/* ============================================= */
/* =============== MEDIA QUERIES =============== */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */

@media (min-width: 1px) {
    .certificates {
        #skilljar-content {
            #guest-header {
                text-align: center;
                padding: 0 20px;
            }
        }

        #catalog-content {
            #catalog-courses {
                // grid-template-columns: 1fr;

                a.coursebox-container {
                    max-width: 360px;
                    padding-bottom: 110px;
                }
            }
        }

        #certificates-header {
            #certificates-header-text {
                h1 {
                    font-size: 40px !important;
                    line-height: 60px;
                }
            }
        }

        #certificates-subheader {
            margin: 60px 20px;
            
            #certificates-subheader-text {
                flex-direction: column-reverse;
            }
        }

        #badge-section {
            #badge-cards {
                .badge-card {
                    margin-bottom: 70px;
                }
            }
        }
    }
}

/* --------------------------------------------- */

@media (min-width: 560px) {
  
}

/* --------------------------------------------- */

@media (min-width: 768px) {
    .certificates {
        #certificates-header {
            #certificates-header-text {
                h1 {
                    font-size: 60px !important;
                    line-height: 80px;
                }
            }
        }

        #certificates-subheader {
            margin: 60px auto;

            #certificates-subheader-text {
                flex-direction: row;
            }
        }
    }
}

/* --------------------------------------------- */

@media (min-width: 875px) {
    .certificates {
        #catalog-content {
            #catalog-courses {
                // grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

/* --------------------------------------------- */

@media (min-width: 1000px) {
  
}

/* --------------------------------------------- */

@media (min-width: 1200px) {
  .certificates {
    #badge-section {
        #badge-cards {
            .badge-card {
                margin-bottom: 0px;
            }
        }
    }
  }
}

/* --------------------------------------------- */

@media (min-width: 1340px) {
    .certificates {
        #catalog-content {
            #catalog-courses {
                // grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

/* --------------------------------------------- */

@media (min-width: 1800px) {
  
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ============================================= */
/* ============================================= */