/* ----------------------------------------------------------- */
/* ------------------- CUSTOM SEARCH PAGES ------------------- */
/* ------------ CUSTOM CLASS: .search-filter-page ------------ */
/* -- .sj-page-catalog [data-catalog-page="course-catalog"] -- */
/* ----------------------------------------------------------- */

/*
Page list:
    /page/course-catalog
*/

.course-catalog {
    min-width: 430px;

    #skilljar-content {
        min-height: 1100px;
    }

    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 470px;
        background-image: url(https://clickup.com/landing/images/clickup-university/cuu_v2.1bg_2x_min.png);
        background-size: cover;
        background-position: bottom;

        h1 {
            font-family: "Axiforma", "Open Sans", "Helvetica Neue", sans-serif !important;
            font-size: 60px;
            font-weight: 800;
        }

        #catalog-search-box {
            width: 600px;

            input#catalogSearchInput {
                padding: 18px 25px;
                height: 60px;
                border-radius: 30px;
                border: none;
                box-shadow: 0px 15px 45px rgb(16 30 54 / 11%);
            }

            &::after {
                right: 26px;
                top: 20px;
                color: var(--grey2);
                font-size: 20px;
            }
        }
    }

    #catalog-left-nav {
    	border: none;
        top: 470px;
        position: absolute;
        height: fit-content;
        z-index: auto;

        .catalog-left-nav-wrapper {
            box-shadow: 0 15px 45px rgb(16 30 54 / 15%);
            margin: 20px;
            padding: 15px;
            border-radius: 20px;

            .filter-group-collapsed {
                margin-bottom: 0;
            }

            .tag-labels {
                padding-left: 24px;
            }

            .filter-group-collapsed + .tag-labels {
                max-height: 5px;
            }
        }
    }

    #catalog-filter-menu {
        h3.filter-group-title {
            font-size: 21px;
            border: none;
        }
        
        .filter-option {
            max-height: 30px;

            input[type=checkbox] {
                background-color: var(--white);
                border: 3px solid var(--purple);
                border-radius: 50%;
                width: 24px;
                height: 24px;
        
                &:checked {
                    background-color: var(--purple);
    
                    &::after {
                        opacity: 1;
                        width: 16px;
                        text-align: center;
                        height: 22px;
                        line-height: 13px;
                        font-size: 14px;
                    }
                }
            }

            .filter-name {
                line-height: 1.4;
            }

            .filter-counter {
                margin-left: 4px;
            }
        }
    }

    .search {
        min-height: 1100px;
        margin-top: 45px;
    }

    #catalog-content,
    .search #catalog-content {
        padding: 0 40px 0 40px !important;
        margin: 0;

        #catalog-courses {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 40px;
        }

        a.coursebox-container {
            margin: auto;
            flex-direction: column;
            height: 100%;
            padding: 30px 30px 100px;
            min-height: 400px;
            max-height: 400px;

            &.course {
                .sj-ribbon-wrapper {
                    margin: 14px 30px;

                    .sj-ribbon {
                        padding: 10px 20px;
                    }
                }

                .coursebox-callout {
                    background-color: var(--purple);

                    &.course-time {
                        background: none;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                    }
                }
            }
            .coursebox-text {
                margin: 10px 0 0 0 !important;
                line-height: 45px;
            }

            .coursebox-text-description {
                margin: 10px 0 30px;
            }

            .coursebox-callout {
                padding: 20px;
                bottom: 30px;
                position: absolute;
                box-shadow: 0px 10px 25px rgb(123 104 238 / 20%);

                &.course-time {
                    padding: 0;
                    margin: 0;
                    box-shadow: none;
                }

                span {
                    margin: 30px;
                }
            }
        }

        .storefront-price {
            display: none;
        }

        .coursebox-image {
            display: block !important;

            img {
                height: unset;
                width: unset;
                margin: 30px auto 20px;
                border-radius: 15px;
            }
        }
    }

    .tile-counter-container {
        display: none;
    }

    #ep-footer {
        margin: 20px 0;
    }
}

.course-catalog {
    .all-nav {
        box-shadow: 0px 10px 15px rgba(173, 172, 173, 0.22);
        background: -webkit-linear-gradient(45deg, #8B21FE, #C438CE);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 10px 15px;
        border-radius: 15px;
        font-weight: 700;
        transition-duration: 0.1s;

        &:hover {
            border: none !important;
            transform: scale(0.97);
            box-shadow: 0px 2px 5px rgba(173, 172, 173, 0.22);
        }
    }
}

.search {
    #catalog-search-info {
        display: none !important;
    }

    .catalog-center-width {
        max-width: 100%;
    }

    a {
        &.coursebox-container {
            .coursebox-image {
                display: block !important;
                float: unset !important;
                width: 100% !important;
                height: unset !important;
                max-height: unset !important;

                img {
                    max-height: unset !important;
                }
            }

            .coursebox-text {
                margin: 45px 0 0 0 !important;

                &::before {
                    position: relative;
                    top: -10px;
                }
            }
        }
    }
}

/* ============================================= */
/* =============== MEDIA QUERIES =============== */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */

@media (min-width: 1px) {
    .course-catalog {
        .search-container {
            h1 {
                font-size: 40px;
                text-align: center;
                padding: 0 15px;
            }

            #catalog-search-box {
                width: 85%;
            }
        }

        #catalog-left-nav {
            position: fixed;
            top: 45px;
            z-index: 990;
        }

        #catalog-content,
        .search #catalog-content {
            #catalog-courses {
                grid-template-columns: 1fr;

                a.coursebox-container {
                    max-width: 500px;
                    min-height: fit-content;
                    max-block-size: fit-content;

                    &.course {
                        .coursebox-text-description {
                            margin: 10px 0 30px !important;
                        }

                        .coursebox-callout {
                            position: relative;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        }

                        .course-time {
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}

/* --------------------------------------------- */

@media (min-width: 560px) {
    .course-catalog {
        .search-container {
            h1 {
                font-size: 50px;
            }
        }
    }
}

/* --------------------------------------------- */

@media (min-width: 768px) {
    .course-catalog {
        .search-container {
            #catalog-search-box {
                width: 600px;
            }
        }

        #catalog-courses {
            grid-template-columns: 1fr;
        }
    }
}

/* --------------------------------------------- */

@media (min-width: 875px) {
    .course-catalog {
        #catalog-left-nav {
            position: absolute;
            top: 470px;
            z-index: auto;
        }

        #catalog-content,
        .search #catalog-content {
            #catalog-courses {
                grid-template-columns: 1fr;
                
                a.coursebox-container {
                    width: auto;
                }
            }
        }
    }
}

/* --------------------------------------------- */

@media (min-width: 1000px) {
    .course-catalog {
        .search-container {
            h1 {
                font-size: 60px;
            }
        }
    }
}

/* --------------------------------------------- */

@media (min-width: 1200px) {
    .course-catalog {
        #catalog-content,
        .search #catalog-content {
            #catalog-courses {
                grid-template-columns: repeat(2, 1fr);
                
                a.coursebox-container {
                    min-height: 500px;
    
                    &.course {
                        .coursebox-callout {
                            position: absolute;
                            bottom: 30px;
                            left: 24px;
                            right: 24px;
                        }
    
                        .course-time {
                            span {
                                margin: 30px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* --------------------------------------------- */

@media (min-width: 1340px) {
    .course-catalog {
        #catalog-content,
        .search #catalog-content {
            #catalog-courses {
                a.coursebox-container {
                    min-height: 460px;
                }
            }
        }
    }
}

/* --------------------------------------------- */

@media (min-width: 1575px) {
    .course-catalog {
        #catalog-content,
        .search #catalog-content {
            #catalog-courses {
                grid-template-columns: repeat(3, 1fr);

                a.coursebox-container {
                    min-height: 500px;
                }
            }
        }
    }
}

/* --------------------------------------------- */

@media (min-width: 1800px) {
    .guests-start-here {
        #catalog-content {
            #catalog-courses {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

/* --------------------------------------------- */

@media (min-width: 2000px) {
    .course-catalog {
        #catalog-content,
        .search #catalog-content {
            #catalog-courses {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

/* --------------------------------------------- */

@media (min-width: 2600px) {
    .course-catalog {
        #catalog-content,
        .search #catalog-content {
            #catalog-courses {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
}
